In [ ]:
Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

In [ ]:
Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized

In [ ]:
Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**
- List popular languages for Data Science
- list development environment open source tools used in data science
- list commonly used libraries used by Data Scientists
- Understand how to perform basic arithmetic operations in Python

In [ ]:
Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. JavaScript
4. Scala

In [ ]:
Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. SciPy
3. Plotly
4. Apache Spark
5. TensorFlow

In [ ]:
Exercise 6 - Create a markdown cell with a table of Data Science tools

In [ ]:
| Data Science Tools|
|-------------------|
| Jupyter Notebook  |
| JupyterLab        |
| RStudio           |

In [ ]:
Exercise 7 - Create a markdown cell introducing arithmetic expression examples

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
Exercise 8 - Create a code cell to multiply and add numbers

In [9]:
 # This a simple arithmetic expression to mutiply then add integers
 (3*4)+5

17

In [ ]:
Exercise 9 - Create a code cell to convert minutes to hours

In [11]:
# This will convert 200 minutes to hours by diving by 60.
(200/60)

3.3333333333333335

In [ ]:
## Author
Ernest